@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/EstiloNavbar/styles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/modernizr")
</head>
<body>


    @Html.Partial("Navbar")


    <nav class="sidebar">

        <header>
            <div class="img-text">
                <span class="image">
                    <img src="~/EstiloNavbar/descarga.png" alt="logo" />
                </span>
            </div>
        </header>

        <br />

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text"> @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "text nav-text" }) </span>

                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-car-garage icon'></i>
                            <span class="text nav-text"> @Html.ActionLink("Vehiculos", "Index", "Vehiculo", new { area = "" }, new { @class = "text nav-text" }) </span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-male-female icon'></i>
                            <span class="text nav-text"> @Html.ActionLink("Clientes", "Index", "Cliente", new { area = "" }, new { @class = "text nav-text" }) </span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-directions icon'></i>
                            <span class="text nav-text"> @Html.ActionLink("Direcciones", "Index", "Direccion", new { area = "" }, new { @class = "text nav-text" }) </span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-wallet icon'></i>
                            <span class="text nav-text"> @Html.ActionLink("Pagos", "Index", "Pago", new { area = "" }, new { @class = "text nav-text" }) </span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-user-voice icon'></i>
                            <span class="text nav-text"> @Html.ActionLink("Personal", "Index", "Personal", new { area = "" }, new { @class = "text nav-text" }) </span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-graduation icon'></i>
                            <span class="text nav-text"> @Html.ActionLink("Clases", "Index", "Clase", new { area = "" }, new { @class = "text nav-text" }) </span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-cabinet icon'></i>
                            <span class="text nav-text"> @Html.ActionLink("Contratos", "Index", "Contrato", new { area = "" }, new { @class = "text nav-text" }) </span>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

    </nav>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/EstiloNavbar/script.js"></script>

</body>
</html>
