@model WebApplication3.Models.personal

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>personal</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.apellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_nacimiento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_nacimiento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.feche_contratacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.feche_contratacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_baja)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_baja)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.correo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.correo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.estado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.direcciones.calle_direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.direcciones.calle_direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.puesto.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.puesto.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.usuario.nombre_completo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.usuario.nombre_completo)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.dpi_empleado }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
