@model IEnumerable<WebApplication3.Models.clases>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora_inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora_final)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clientes.nombre_completo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contratos.instructor_asignado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hora_inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hora_final)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clientes.nombre_completo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contratos.instructor_asignado)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_clases }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id_clases }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_clases })
                </td>
            </tr>
        }

    </table>
</body>
</html>
