
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <Title>Home</Title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/EstiloNavbar/styles.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">
                                @Html.ActionLink("Modulos", "Index", "Modulo", new { area = "" }, new { @class = "nav-link active" })
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                @Html.ActionLink("Roles", "Index", "Rol", new { area = "" }, new { @class = "nav-link active" })
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                @Html.ActionLink("Usuarios", "Index", "Usuario", new { area = "" }, new { @class = "nav-link active" })
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                @Html.ActionLink("Operaciones", "Index", "Operaciones", new { area = "" }, new { @class = "nav-link active" })
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                @Html.ActionLink("Asignar Permisos", "Index", "RolOperacion", new { area = "" }, new { @class = "nav-link active" })
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                @Html.ActionLink("Puestos De Trabajo", "Index", "Puestos", new { area = "" }, new { @class = "nav-link active" })
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
